# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse files
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea

# Ignore Fineract/Spring Boot runtime files
keystore.jks
/target/
